---
- name: "Test for quick money turnaround"
  platform42.neo4j.query:
    neo4j_uri: "{{ NEO4J_URI }}"
    database: "{{ NEO4J_DATABASE }}"
    username: "{{ NEO4J_USERNAME }}"
    password: "{{ NEO4J_PASSWORD }}"
    query: |
      MATCH p=(a:Account)-[r:TRANSACTION*2..6]->(a)
      WHERE [x IN nodes(p) | x.entity_name] = $nodeIds
      WITH 
        a.entity_name AS startAccount,
        [x IN nodes(p) | x.entity_name] AS cyclePath,
        [rel IN relationships(p) | datetime(rel.timestamp)] AS times,
        length(p) AS hops,
        reduce(total=0, rel IN relationships(p) | total + rel.amount) AS totalAmount
      WITH 
        startAccount,
        cyclePath,
        hops,
        totalAmount,
        reduce(minT = head(times), t IN times | CASE WHEN t < minT THEN t ELSE minT END) AS minTime,
        reduce(maxT = head(times), t IN times | CASE WHEN t > maxT THEN t ELSE maxT END) AS maxTime
      WHERE duration.between(minTime, maxTime).days < 3
      RETURN 
        startAccount,
        cyclePath,
        hops,
        totalAmount,
        minTime,
        maxTime,
        duration.between(minTime, maxTime).days AS durationDays
      ORDER BY totalAmount DESC;
    parameters:
      nodeIds: "{{ item.cyclePath }}"
  register: cycle_path

- name: "Capture output"
  ansible.builtin.set_fact:
    cycle_path_phase_2: "{{ cycle_path.query.cypher_response }}"

- name: "Print captured output"
  ansible.builtin.debug:
    var: cycle_path_phase_2

- name: "Append captured output"
  set_fact:
    cycle_paths_phase_2: "{{ (cycle_paths_phase_2 | default([])) + cycle_path_phase_2 }}"
  when: 
    - cycle_path_phase_2 is defined 
    - cycle_path_phase_2 | length > 0
